.slot-anim-1 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder01.png?fileID=21300000&guid=a6f58875d305d4c4e9893580fa08f556&type=3#ToggleIconBorder01");
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-2 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder02.png?fileID=21300000&guid=a972442073935114f9e36ac0364417c8&type=3#ToggleIconBorder02");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-3 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder03.png?fileID=21300000&guid=0aaa70877cb50e843b60b5725b8c947a&type=3#ToggleIconBorder03");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-4 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder04.png?fileID=21300000&guid=67b0aa7bd51769845a4fc5a8ee7ddd12&type=3#ToggleIconBorder04");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-5 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder05.png?fileID=21300000&guid=59aa5b8079f7a4c40a96e720230e8c5e&type=3#ToggleIconBorder05");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-6 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder06.png?fileID=21300000&guid=a2927fc638d8a9a4a9b565256ef72a49&type=3#ToggleIconBorder06");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-7 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder07.png?fileID=21300000&guid=2d72d0be832adc24684a061939400f95&type=3#ToggleIconBorder07");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-8 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder08.png?fileID=21300000&guid=7f03fa00178381747a8229fa4a06dd73&type=3#ToggleIconBorder08");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-9 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder09.png?fileID=21300000&guid=199d5d0a4de225e4e99f856da9adac2f&type=3#ToggleIconBorder09");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-10 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder10.png?fileID=21300000&guid=57ac9e40ebcb3bf4498614ce30325de5&type=3#ToggleIconBorder10");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-11 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder11.png?fileID=21300000&guid=9ad0811a84e02d249bc9cfe823a131d7&type=3#ToggleIconBorder11");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-12 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder12.png?fileID=21300000&guid=e271967382f4a4a4fb2ee89face0ddf8&type=3#ToggleIconBorder12");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-13 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder13.png?fileID=21300000&guid=7108930e0af0db440b0064b883db3672&type=3#ToggleIconBorder13");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-14 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder14.png?fileID=21300000&guid=5247df3b6687fe140a7ef739a4c026ce&type=3#ToggleIconBorder14");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-15 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder15.png?fileID=21300000&guid=cdbc39c18e58be34bb3bc16d15c4cc4e&type=3#ToggleIconBorder15");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-16 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder16.png?fileID=21300000&guid=fac583684bb768d40b004bdd77c26f1b&type=3#ToggleIconBorder16");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-17 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder17.png?fileID=21300000&guid=872e46d81ccd87e4cbc3881e1b280dfe&type=3#ToggleIconBorder17");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-18 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder18.png?fileID=21300000&guid=9ab06001f71d0aa4996401e169a2b028&type=3#ToggleIconBorder18");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-19 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder19.png?fileID=21300000&guid=288fed5dd1caccb4ea946dd82d9a1c40&type=3#ToggleIconBorder19");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-20 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder20.png?fileID=21300000&guid=e34daf642c7289d42b9477088a550abc&type=3#ToggleIconBorder20");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}

.slot-anim-21 {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/Actionbar/SlotAnim/ToggleIconBorder21.png?fileID=21300000&guid=deb15829741729e4e952ed36e3d5ccaa&type=3#ToggleIconBorder21");
    transition-duration: 0.08s;
    transition-timing-function: linear;
    transition-property: background-image;
}
