.UISlider {
}

.UISlider .unity-base-slider__dragger {
    top: 50%;
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/slider-handler.png?fileID=2800000&guid=0e44d02ba08f8374d9c4064e34117f5d&type=3#slider-handler");
    width: 70px;
}

.UISlider .unity-base-slider__drag-container {
    background-image: url("project://database/Assets/Dragonsan/AtavismObjects/Textures/NewUi/slider.png?fileID=2800000&guid=d2269059901dca849b93b8346c8ea663&type=3#slider");
}

.unity-base-slider__dragger-border {
}

.unity-base-slider__tracker {
}